/*! -------------------- */
/*! CUSTOM PROPERTIES -- */
/*! -------------------- */

:root {
    /** Fonts */
    --ff-srf: "Playfair Display", serif;
    --ff-sans-srf: "Jost", sans-serif;

    /** Colors */
    --clr-dark: 0, 0%, 7%;
    --clr-light: 0, 0%, 93%;
    --clr-green: 202, 40%, 30%;
    --clr-blue: 236, 40%, 30%;
    --clr-purple: 268, 40%, 30%; 
}

/*! -------------------- */
/*! RESET CSS ---------- */
/*! -------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */

html {
    scroll-behavior: smooth;
}

/* Box sizing, margins and paddings */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(var(--clr-light));
}

body {
    overflow-x: hidden; /* Wasn't added by Kevin. https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */ 
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-sans-srf);
    padding-bottom: 2em;
    background-color: hsl(var(--clr-light));
    color: hsl(var(--clr-dark));
}

fieldset {
    border: none;
}

input, textarea {
    background-color: hsl(var(--clr-light), 0.2);
    color: hsl(var(--clr-light));
    flex-grow: 3;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    resize: none;
}

::placeholder {
    color: hsla(var(--clr-light), 0.8);
    font-family: var(--ff-sans-srf)
}


/*! -------------------- */
/*! TYPOGRAPHY           */
/*! -------------------- */
h1 {
    min-width: 8ch;
    font-size: clamp(2rem, 1rem + 3vw, 5rem);
    font-weight: 400;
}

h2 {
    font-size: clamp(1.8rem, 0.8rem + 3vw, 3rem);
    font-weight: 600;
    margin-bottom: 0.7em;
}

h3 {
    font-size: clamp(1.5rem, 0.6rem + 2.6vw, 2.2rem);
    font-weight: 600;
    text-align: center;
}

p, label, input, textarea {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.3rem);
    font-family: var(--ff-sans-srf);
}

thead {
    font-size: clamp(1.3rem, 0.6rem + 1.1vw, 1.7rem);
    font-weight: 600;
}

td {
    font-size: clamp(1.1rem, 0.6rem + 1.2vw, 1.5rem);
}

#hero__descr {
    font-size: clamp(1.2rem, 0.8rem + 1vw, 1.7rem);
    max-width: 40ch;
}

.pricing-card__membership {
    font-size: clamp(1.3rem, 0.8rem + 2vw, 2rem);
}

.pricing-card__price {
    font-size: clamp(1.8rem, 0.8rem + 3vw, 3rem);
}

.pricing-card__per-month {
    font-size:  clamp(1rem, 0.8rem + 2vw, 1.7rem);
}

.btn {
    font-size: clamp(1.2rem, 0.8rem + 1vw, 2rem);
    font-weight: 600;
}




/*! -------------------- */
/*! UTILITY CLASSES      */
/*! -------------------- */
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.btn {
    display: inline-block;
    position: relative;
    background-color: hsla(var(--clr-light), 0.15);
    border: 1px solid hsl(var(--clr-light));
    padding: 0.5em;
    border-radius: 5px;
    border-width: 2px;
    margin-top: 1em;
    display: inline-block;
    color: hsl(var(--clr-light));
    overflow: hidden;
    cursor: pointer;

    transform: scale(1);
    transition: transform 400ms ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: hsla(var(--clr-light), 0.1);
    width: calc(100% + 4px);
    height: calc(100% + 4px);

    transform-origin: bottom right;
    transform: scale(0);
    filter: brightness(100%);
    transition: transform 400ms ease;
}

.btn:hover::before {
    transform-origin: top left;
    transform: scale(1);
}

.btn:active {
    filter: brightness(130%);
}





/*! -------------------- */
/*! SECTIONAL CLASSES    */
/*! -------------------- */
/** Navbar */
.nav-list {
    display: flex;
    flex-direction: column;
}

/** Main sections */
.main-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-section__title {
    text-align: center;
    width: 100%;
    display: block;
}

/** Membership */
.membership-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
}

/** Table - membership */
table, tr, td, thead, tbody {
    border-collapse: collapse;
}

td {
    padding: 0.2em 0;
}

tbody tr {
    border-top: 2px solid hsla(var(--clr-dark), 0.2);
}

.align-right {
    text-align: right;
    padding-left: 1em;
}

/** Pricing cards */
.pricing__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 0.6em;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    color: hsl(var(--clr-light));
    border-radius: 20px;
    padding: 2.5em 1em;
    text-align: center;
    row-gap: 0.5em;
}

.pricing-card__details {
    margin-top: 2em;
    text-align: left;
}

/** Contact form */
.form__data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0.5em 0;
}




/*! -------------------- */
/*! SECTIONAL ELEMENTS   */
/*! -------------------- */
/** Header */
#header {
    background-image: linear-gradient(120deg, hsl(var(--clr-green)) 15%, hsl(var(--clr-blue)) 50%, hsl(var(--clr-purple)) 85%);
    position: sticky;
    top: 0;
    padding: 2rem 0;
    z-index: 5;
    border-bottom: 4px solid hsl(0, 0%, 95%);
}

/** Navigation */
#nav-bar {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    color: hsl(var(--clr-light));
}

a:active {
    filter: brightness(150%);
}

/** Hero */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4em;

    margin-top: 3em;
    padding: 2em 1em;
    text-align: center;
}

/** Video */
#video-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#video {
    z-index: 0;
    width: 100%;
}

/** Membership */
#membership-table {
    margin: 0 auto;
}

#monthly {
    background-color: hsl(var(--clr-green));
}

#biannually {
    background-color: hsl(var(--clr-blue));
}

#annually {
    background-color: hsl(var(--clr-purple));
}

/** Contact form */
#form {
    width: min(100%, 900px);
    margin: 0 auto;
    background-image: linear-gradient(120deg, hsl(var(--clr-green)) 15%, hsl(var(--clr-blue)) 50%, hsl(var(--clr-purple)) 85%);
    color: hsl(var(--clr-light));
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

#submit {
    width: min(100%, 400px);
    margin: 0.8em auto 0;
}




/*! -------------------- */
/*! MEDIA QUERIES        */
/*! -------------------- */
@media screen and (min-width: 550px) {
    .main {
        row-gap: 3em;
    }

    .pricing__container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 2vw;
    }

    .pricing__container h3 {
        grid-column: 1 / 4;
    }
 
    .pricing-card {
        row-gap: 1em;
    }

    .form__data {
        flex-direction: row;
        align-items: center;
    }

    .form__data > label {
        width: 10ch;
    }

    .form__data > input {
        position: relative;
    }

}

@media screen and (min-width: 800px) {
    .main {
        row-gap: 6em;
    }

    #video-container {
        width: 60%;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 2px solid red; */
        column-gap: 4em;
    }

    #nav-bar {
        flex-direction: row;
        justify-content: space-between;
    }

    #hero {
        flex-direction: row;
        justify-content: space-between;
        margin: 5em auto 0;
        padding: 3em 0;
        column-gap: 5vw;
        text-align: left;
    }

    .pricing__container {
        width: min(100%, 900px);
        row-gap: 1em;
    }
    
}

@media screen and (min-width: 1400px) {
    .main {
        row-gap: 10em;
    }

    .membership-info {
        display: flex;
        flex-direction: row;
        column-gap: 5vw;
        align-items: flex-start;
    }
}


@media screen and (hover) {
    .nav-link {
        position: relative;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        bottom: -0.2em;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: hsl(var(--clr-light));

        transform-origin: left;
        transform: scaleX(0);
        transition: transform 400ms ease;
    }

    .nav-link:hover::after {
        transform: scaleX(1);
    }

    .nav-link:focus {
        outline-offset: 1em;
        outline-color: hsl(var(--clr-light));
    }

    .nav-link:focus::after {
        transform: scaleX(1);
    }
}