/*! -------------------- */
/*! CUSTOM PROPERTIES -- */
/*! -------------------- */

:root {
    --ff-srf: "Playfair Display", serif;
    --ff-sans-srf: "Jost", sans-serif;

    /* Colors */
    --clr-dark: 0, 0%, 7%;
    --clr-base: 0, 0%, 30%;
    --clr-accent: 0, 0%, 65%;
    --clr-light: 0, 0%, 93%; 

}

/*! -------------------- */
/*! RESET CSS ---------- */
/*! -------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */

html {
    scroll-behavior: smooth;
}

/* Box sizing, margins and paddings */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden; /* Wasn't added by Kevin. https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */ 
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-sans-srf);
    padding-bottom: 2em;
    background-color: hsl(0, 0%, 95%);
}

fieldset {
    border: none;
}

input, textarea {
    background-color: hsl(var(--clr-light), 0.2);
    color: hsl(var(--clr-light));
    flex-grow: 3;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}

::placeholder {
    color: hsla(var(--clr-light), 0.8);
    font-family: var(--ff-sans-srf)
}


/*! -------------------- */
/*! TYPOGRAPHY           */
/*! -------------------- */
h1 {
    font-family: var(--ff-sans-srf);
    min-width: 8ch;
    font-size: clamp(2rem, 1rem + 3vw, 5rem);
    font-weight: 400;
}

p, label, input, textarea {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.3rem);
}

legend {
    font-size: clamp(1.1rem, 0.6rem + 1.1vw, 1.4rem);
    font-weight: 700;
}

td {
    font-size: clamp(1.2rem, 0.6rem + 1.2vw, 1.5rem);
}

#hero__descr {
    font-size: clamp(1.2rem, 0.8rem + 1vw, 1.7rem);
    max-width: 40ch;
}

.pricing-card__membership {
    font-size: clamp(1.3rem, 0.8rem + 2vw, 2rem);
}

.pricing-card__price {
    font-size: clamp(1.8rem, 0.8rem + 3vw, 3rem);
}

.pricing-card__per-month {
    font-size:  clamp(1rem, 0.8rem + 2vw, 1.7rem);
}




/*! -------------------- */
/*! UTILITY CLASSES      */
/*! -------------------- */
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}






/*! -------------------- */
/*! SECTIONAL CLASSES    */
/*! -------------------- */
/** Navbar */
.nav-list {
    display: flex;
    flex-direction: column;
}

/** Main sections */
.main-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-section__title {
    text-align: center;
    width: 100%;
    display: block;
}

/** Membership */
.membership-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** Pricing cards */
.pricing__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4vw;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    color: hsl(var(--clr-light));
    border-radius: 20px;
    padding: 2.5em 1em;
    text-align: center;
    row-gap: 0.5em;
}

.pricing-card__details {
    margin-top: 2em;
    text-align: left;
}

/** Contact form */
.contact-form__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
}




/*! -------------------- */
/*! SECTIONAL ELEMENTS   */
/*! -------------------- */
/** Header */
#header {
    background-image: linear-gradient(120deg, hsl(202, 40%, 30%) 15%, hsl(236, 40%, 30%) 50%, hsl(268, 40%, 30%) 85%);
    position: sticky;
    top: 0;
    padding: 2rem 0;
    /*
    hsl(202, 69%, 30%);
    hsl(249, 69%, 30%);
    hsl(236, 69%, 30%);
    */
    z-index: 5;
    border-bottom: 4px solid hsl(0, 0%, 95%);
}

/** Navigation */
#nav-bar {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 95%);
    /* display: none; */
}

/** Hero */
#hero {
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4em;

    margin-top: 3em;
    padding: 2em 1em;
    text-align: center;
}

#video {
    background-color: blueviolet;
    z-index: 0;
}

/** Membership */
#membership-table {
    margin: 0 auto;
}

#monthly {
    background-color: hsl(202, 40%, 30%);
}

#biannually {
    background-color: hsl(236, 40%, 30%);
}

#annually {
    background-color: hsl(268, 40%, 30%);
}

/** Contact form */
#contact-form {
    width: min(95%, 900px);
    margin: 0 auto;
    background-image: linear-gradient(120deg, hsl(202, 40%, 30%) 15%, hsl(236, 40%, 30%) 50%, hsl(268, 40%, 30%) 85%);
    color: hsl(var(--clr-light));
    padding: 1em;
    border-radius: 20px;
}




/*! -------------------- */
/*! MEDIA QUERIES        */
/*! -------------------- */
@media screen and (min-width: 550px) {
    .pricing__container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
        column-gap: 2vw;
    }
 
    .pricing-card {
        row-gap: 1em;
    }

    .contact-form__input {
        flex-direction: row;
    }

    .contact-form__input > label {
        width: 8ch;
    }

    .contact-form__input > input {
        position: relative;
    }

}

@media screen and (min-width: 800px) {
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 2px solid red; */
        column-gap: 4em;
    }

    #nav-bar {
        flex-direction: row;
        justify-content: space-between;
    }

    #hero {
        flex-direction: row;
        justify-content: space-between;
        margin: 5em auto;
        padding: 3em 0;
        column-gap: 10vw;
        text-align: left;
    }

    .pricing__container {
        width: min(150ch, 900px);
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (min-width: 1600px) {
    .membership-info {
        display: flex;
        flex-direction: row;
    }
}

