/*! ------------------------------ */
/*! CUSTOM PROPERTIES              */
/*! ------------------------------ */
:root {
    /** Fonts */
    --ff-srf: "Playfair Display", serif;
    --ff-sans-srf: "Jost", sans-serif;
    --ff-curs: "Great Vibes", cursive;

    /** Colors */
    --clr-gray-100: 0, 0%, 10%;
    --clr-gray-200: 0, 0%, 20%;
    --clr-gray-300: 0, 0%, 30%;
    --clr-gray-400: 0, 0%, 40%;
    --clr-gray-500: 0, 0%, 50%;
    --clr-gray-600: 0, 0%, 60%;
    --clr-gray-700: 0, 0%, 70%;
    --clr-gray-800: 0, 0%, 80%;
    --clr-gray-900: 0, 0%, 90%; 
    
    --clr-base-light: 25, 70%, 62%;
    --clr-base-bright: 25, 80%, 50%;
    --clr-base-mid: 25, 70%, 55%;
    --clr-base-dark: 25, 80%, 30%;
 
    --clr-accent-mid: 190, 70%, 60%;
     
    /** Border radius */
    --bord-rad-100: 3px;
    --bord-rad-200: 5px;


    /** Margins, paddings, gaps */
}



/*! ------------------------------ */
/*! RESET CSS                      */
/*! ------------------------------ */
*, *::before, *::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6, p, 
picture, figure, img {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(var(--clr-gray-900));
    color: hsl(var(--clr-gray-100));
}

figure {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

img {
    max-width: auto;
    height: 100%;
    display: block;
}



/*! ------------------------------ */
/*! UTILITY CLASSES                */
/*! ------------------------------ */
.container {
    width: min(90%, 150ch);
    margin: 0 auto;
}

.par-bg {
    background-color: hsla(var(--clr-gray-900), 0.5);
    padding: 3em 3em 3em 0;
    margin-top: 5em;
    margin-bottom: 2em;
}

.btn {
    background-color: hsl(var(--clr-accent-mid));
    color: hsl(var(--clr-gray-100));
    font-size: 1.5rem;
    padding: 0.5em 1em;
    border-radius: var(--bord-rad-200, 5px);    
    border: none;
}

.color-box {
    border-radius: var(--bord-rad-100, 3px);
}



/*! ------------------------------ */
/*! GRID                           */
/*! ------------------------------ */
.grid-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.info-text {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    z-index: 500;
}



/* .section-title-left, 
.section-title-right {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 500;
}

.par-left,
.par-right {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    z-index: 500;
}

.btn-left,
.btn-right {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    z-index: 500;
} */

/* .photo-1-left,
.photo-1-right {
    grid-row: 3 / 4;
    grid-column: 1 / 2; 
}

.photo-1-left, .photo-1-right,
.photo-2-left, .photo3-left,
.photo-2-right, .photo3-right {
    display: none;
} */


/*! ------------------------------ */
/*! TYPOGRAPHY                     */
/*! ------------------------------ */
h1 {
    font-family: var(--ff-srf);
    font-style: italic;
    font-weight: 100;
    font-size: 5rem;
    color: hsl(var(--clr-base-bright));
    width: 15ch;
}

h2, h3 {
    font-family: var(--ff-srf);
    font-size: 3rem;
    color: hsl(var(--clr-base-dark));
    font-weight: 700;
}

p, button {
    font-family: hsl(var(--ff-sans-srf));
    font-size: 1.2rem;
}




/*! ------------------------------ */
/*! SECTIONAL ELEMENTS             */
/*! ------------------------------ */
#title-text {
    font-size: 2rem;
}

#description {
    font-size: 1.2rem;
}

#africa-color-box-1 {
    background-color: hsl(var(--clr-base-light));
    z-index: 200;
}

#africa-color-box-2 {
    background-color: hsl(var(--clr-base-dark));
    z-index: 100;
}

#africa-color-box-3 {
    background-color: hsla(var(--clr-accent-mid), 08);
    z-index: 300;
}




/*! ------------------------------ */
/*! HOVER STATES                   */
/*! ------------------------------ */
@media screen and (hover) {
    .btn:hover {
        cursor: pointer;
    }
}



/*! ------------------------------ */
/*! MEDIA QUERIES                  */
/*! ------------------------------ */
@media screen and (min-width: 650px) {
    /** GRID */
    .grid-section {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .info-text {
        grid-row: 1 / 5;
        grid-column: 1 / 6;
    }

    /* .section-title-left {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }
    .section-title-right {
        grid-row: 1 / 2;
        grid-column: 5 / 9;
    }
    .par-left {
        grid-row: 2 / 5;
        grid-column: 1 / 5; 
    }
    .par-right {
        grid-row: 2 / 5;
        grid-column: 5 / 9;
    }
    .btn-left {
        grid-row: 5 / 6;
        grid-column: 1 / 4;
    }
    .btn-right {
        grid-row: 5 / 6;
        grid-column: 5 / 8;
    } */

   
    

    
}

@media screen and (min-width: 900px) {
    /** GRID */
    .grid-section {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .info-text {
        grid-row: 1 / 5;
        grid-column: 1 / 6;
    }

    .color-boxes {
        grid-row: 1 / 6;
        grid-column: 4 / 17;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);        
    }

    .photos {
        grid-row: 2 / 5;
        grid-column: 7 / 16;
        border: 2px solid black;
        z-index: 500;
    }

    #africa-color-box-1 {
        grid-row: 2 / 8;
        grid-column: 1 / 4;
    }
    
    #africa-color-box-2 {
        grid-row: 1 / 11;
        grid-column: 3 / 6;
    }
    
    #africa-color-box-3 {
        grid-row: 4 / 10;
        grid-column: 5 / 11;
    }
    /* .section-title-left {
        grid-row: 1 / 2;
        grid-column: 1 / 6;
    }

    .section-title-right {
        grid-row: 1 / 2;
        grid-column: 8 / 13;
    }

    .par-left {
        grid-row: 2 / 5;
        grid-column: 1 / 6; 
    }

    .par-right {
        grid-row: 2 / 5;
        grid-column: 8 / 13;
    }

    .btn-left {
        grid-row: 5 / 6;
        grid-column: 1 / 5;
    }

    .btn-right {
        grid-row: 5 / 6;
        grid-column: 8 / 12;
    }
    .photo-1-left {
        grid-row: ;
        grid-column: ; 
    }
    .photo-1-right {
        grid-column: 5 / 8;
        grid-row: 1 / 4; 
    }
    .photo-2-left {
        grid-row: ;
        grid-column: ;
    }
    .photo-2-right {
        grid-row: ;
        grid-column: ;
    } 
    .photo3-left {
        grid-row: ;
        grid-column: ; 
    }
    .photo3-right {
        grid-row: ;
        grid-column: ; 
    } */
}